/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * COLORS
     */
  
    /* backgroud colors */
    --bg-white: hsl(0, 0%, 100%);
    --bg-black-alpha-20: hsla(0, 0%, 0%, 0.2);
    --bg-lavender-blush: hsl(0, 100%, 98%);
    --bg-majorelle-blue: hsl(249, 95%, 63%);
    --bg-ocean-blue: hsl(249, 63%, 54%);
    --bg-majorelle-blue-alpha-5: hsla(249, 95%, 63%, 0.05);
    --bg-misty-rose: hsl(0, 100%, 95%);
    --bg-red-salsa: hsl(357, 94%, 63%);
    --bg-red-salsa-alpha-5: hsla(357, 94%, 63%, 0.05);
    --bg-english-vermillion: hsl(357, 64%, 53%);
    --bg-chrome-yellow-alpha-5: hsla(40, 100%, 50%, 0.05);
    --bg-sunglow-alpha-10: hsla(48, 100%, 50%, 0.1);
    --bg-gainsboro: hsl(0, 0%, 85%);
  
    /* text color */
    --text-white: hsl(0, 0%, 100%);
    --text-gunmetal: hsl(209, 40%, 14%);
    --text-light-coral: hsl(357, 96%, 73%);
    --text-granite-gray: hsl(210, 4%, 38%);
    --text-majorelle-blue: hsl(249, 95%, 63%);
    --text-sunglow: hsl(48, 100%, 50%);
  
    /* border color */
    --border-gainsboro: hsl(0, 1%, 85%);
  
    /**
     * TYPOGRAPHY
     */
  
    /* font family */
    --ff-poppins: 'Poppins', sans-serif;
  
    /* font size */
    --fontSize-1: 4.2rem;
    --fontSize-2: 3.6rem;
    --fontSize-3: 2.5rem;
    --fontSize-4: 2.4rem;
    --fontSize-5: 2rem;
    --fontSize-6: 1.6rem;
    --fontSize-7: 1.5rem;
  
    /* font weight */
    --weight-bold: 700;
    --weight-semiBold: 600;
    --weight-medium: 500;
  
    /**
     * SPACING
     */
  
    --section-spacing: 80px;
  
    /**
     * BOX SHADOW
     */
  
    --shadow-1: 0 2px 10px hsla(209, 40%, 14%, 10%);
    --shadow-2: 0 5px 10px hsla(249, 95%, 63%, 25%);
    --shadow-3: 0 5px 10px hsla(357, 64%, 53%, 25%);
    --shadow-4: 0 30px 50px hsla(357, 64%, 53%, 30%);
  
    /**
     * RADIUS
     */
  
    --radius-pill: 200px;
    --radius-circle: 50%;
    --radius-30: 30px;
    --radius-20: 20px;
  
    /**
     * TRANSITION
     */
  
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }

  a, img, span, button, ion-icon {
    display: block;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    height: auto;
  }

  input, button {
    background: none;
    border: none;
    font: inherit;
  }

  input {
    width: 100%;
    outline: none;
  }

  button {
    cursor: pointer;
  }

  ion-icon {
    pointer-events: none;
  }

  address {
    font-style: normal;
  }

  html {
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--bg-lavender-blush);
    color: var(--text-granite-gray);
    font-size: var(--fontSize-6);
    line-height: 1.8;
  }

  body.nav-active {
    overflow: hidden;
  }
  

  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container {
    padding-inline: 16px;
  }

  .btn {
    height: 50px;
    color: var(--text-white);
    padding-inline: 30px;
    border-radius: var(--radius-pill);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    transition: var(--transition-1);
  }

  .btn-primary {
    background-color: var(--bg-majorelle-blue);
  }

  .btn-primary:is(:hover, :focus-visible) {
    background-color: var(--bg-ocean-blue);
    box-shadow: var(--shadow-2);
  }
  
  .btn-secondary {
    background-color: var(--bg-red-salsa);
  }

  .btn-secondary:is(:hover, :focus-visible) {
    background-color: var(--bg-english-vermillion);
    box-shadow: var(--shadow-3);
  }
  
  .section {
    padding-block-end: var(--section-spacing);
  }

  .has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .title {
    color: var(--text-gunmetal);
    font-weight: var(--weight-semiBold);
    line-height: 1.45;
  }

  .h1 {
    font-size: var(--fontSize-1);
    line-height: 1.2;
  }
  
  .h2 {
    font-size: var(--fontSize-2);
  }

  .h3 {
    font-size: var(--fontSize-4);
  }

  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-2);
  }

  .w-100 {
    width: 100%;
  }

  .section-subtitle {
    color: var(--text-majorelle-blue);
    font-weight: var(--weight-medium);
    text-transform: uppercase;
  }

  .section-title {
    margin-block: 10px;
  }

  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--bg-gainsboro);
    overflow: hidden;
  }
  
  
  /*-----------------------------------*\
    #PRELOADER
  \*-----------------------------------*/
  
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-lavender-blush);
    display: grid;
    place-content: center;
    z-index: 6;
    transition: var(--transition-1);
  }
  
  .preloader.remove {
    visibility: hidden;
    opacity: 0;
  }
  
  .preloader .img {
    animation: bounce 800ms ease-in-out infinite alternate;
  }
  @keyframes bounce {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
  }

  .preloader-inner {
    position: relative;
  }

  .preloader-inner::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 10px;
    background-color: var(--bg-black-alpha-20);
    filter: blur(4px);
    z-index: -1;
    animation: dropShadow 800ms ease-in-out infinite alternate;
  }

  @keyframes dropShadow {
    0% {
        width: 40%;
    }
    100% {
        width: 80%;
    }
  }
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    padding-block: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 4;
  }

  .header.active  {
    position: fixed;
    background-color: var(--bg-white);
    box-shadow: var(--shadow-1);
    animation: slideIn 500ms ease forwards;
  }
  
  @keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
  }

  .header .logo img {
    width: 160px;
  }

  .nav-toggle-btn {
    font-size: 3.2rem;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -350px;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-white);
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 400ms var(--cubic-out);
    visibility: hidden;
  }
  
  .navbar.active {
    transform: translateX(-350px);
    transition-duration: 500ms;
    visibility: visible;
  }

  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-list {
    margin-block-start: 50px;
  }

  .navbar-link {
    position: relative;
    color: var(--text-gunmetal);
    font-size: var(--fontSize-7);
    font-weight: var(--weight-medium);
    padding-block: 8px;
    transition: var(--transition-1);
  }

  .navbar-link::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: var(--bg-majorelle-blue);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus-visible, .active)::before {
    opacity: 1;
  }

  .navbar-link:is(:hover, :focus-visible, .active) {
    transform: translateX(10px);
  }

  .header-action {
    margin-block-start: auto;
    padding-block-start: 28px;
    border-block-start: 1px solid var(--border-gainsboro);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .login-btn {
    color: var(--text-gunmetal);
    font-size: var(--fontSize-7);
    font-weight: var(--weight-medium);
    transition-timing-function: var(--transition-1);
  }

  .login-btn:is(:hover, :focus-visible) {
    opacity: 0.8;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-white);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
  }

  .overlay.active {
    visibility: visible;
    opacity: 0.5;
  }
  





  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  
  .hero {
    padding-block-start: 150px;
  }
  
  .hero .container {
    display: grid;
    gap: 50px;
  }

  .hero-subtitle {
    background-color: var(--bg-misty-rose);
    color: var(--text-light-coral);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    padding: 8px 20px;
    border-radius: var(--radius-pill);
  }

  .hero-title {
    margin-block: 20px;
  }
  
  .hero-text {
    margin-block-end: 30px;
  }

  .hero .btn-secondary {
    margin-block-end: 20px;
  }

  .hero-btn {
    color: var(--text-gunmetal);
    font-weight: var(--weight-medium);
    display: flex;
    align-items: center;
    gap: 30px;
    transition: var(--transition-1);
  }

  .hero-btn .btn-img {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--bg-gainsboro);
    border-radius: var(--radius-circle);
    box-shadow: var(--shadow-1);
  }

  .hero-btn .img-cover {
    border-radius: inherit;
  }

  .hero-btn ion-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background-color: var(--bg-white);
    padding: 10px;
    border-radius: var(--radius-circle);
    box-shadow: var(--shadow-1);
  }

  .hero-btn:is(:hover, :focus-visible) {
    color: var(--text-majorelle-blue);
  }
  
  /*-----------------------------------*\
    #SERVICE
  \*-----------------------------------*/
  
  .service .container {
    display: grid;
    gap: 25px;
  }

  .service-card:nth-child(2) {
    background-color: var(--bg-chrome-yellow-alpha-5);
  }
  
  .service-card:nth-child(3) {
    background-color: var(--bg-red-salsa-alpha-5);
  }

  .service-card:nth-child(4) {
    background-color: var(--bg-majorelle-blue-alpha-5);
  }

  .service-card {
    padding: 25px 20px;
    border-radius: var(--radius-20);
  }

  .service-card .card-title {
    margin-block: 10px 5px;
  }
  
  
  /*-----------------------------------*\
    #DESTINATION
  \*-----------------------------------*/
  
  .desti .section-title {
    margin-block-end: 40px;
  }

  .desti-list {
    display: grid;
    gap: 30px;
  }

  .desti-card .card-banner {
    position: relative;
    border-radius: var(--radius-30);
  }

  .desti-card:is(:hover, :focus-within) .img-cover {
    transform: scale(1.1);
  }
  
  .desti-card .card-price {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--bg-white);
    color: var(--text-majorelle-blue);
    font-weight: var(--weight-bold);
    font-size: 1.8rem;
    line-height: 1.45;
    padding: 5px 15px;
    border-radius: var(--radius-pill);
  }

  .desti-card .card-title {
    margin-block: 15px 5px;
    transition: var(--transition-1);
  }

  .desti-card .card-title:is(:hover, :focus-visible) {
    color: var(--text-majorelle-blue);
  }

  .desti-card :is(.card-rating, .span) {
    display: flex;
    align-items: center;
  }
  
  .desti-card .card-rating {
    margin-block-start: 10px;
    gap: 10px;
  }

  .desti-card .card-rating .span {
    background-color: var(--bg-sunglow-alpha-10);
    gap: 5px;
    padding: 4px 12px;
    border-radius: var(--radius-pill);
  }

  .desti-card .card-rating ion-icon {
    color: var(--text-sunglow);
  }

  .desti .btn {
    margin-inline: auto;
    margin-block-start: 40px;
  }



  
  /*-----------------------------------*\
    #EXPERIENCE
  \*-----------------------------------*/
  
  .exp .container {
    display: grid;
    gap: 50px;
  }

  .exp-banner {
    position: relative;
  }

  .exp .section-text {
    margin-block-end: 20px;
  }

  .exp-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-start: 15px;
  }
  
  .exp-item .item-title {
    color: var(--text-majorelle-blue);
    font-size: 3.6rem;
    font-weight: var(--weight-bold);
  }

  .exp-shape {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 25%;
    filter: drop-shadow(var(--shadow-4));
  }
  
  
  
  /*-----------------------------------*\
    #GALLERY
  \*-----------------------------------*/
  
  .gallery .section-title {
    margin-block-end: 40px;
  }

  .gallery-list {
    display: grid;
    gap: 15px;
  }

  .gallery .item-banner {
    border-radius: var(--radius-30);
  }
  
  
  
  
  /*-----------------------------------*\
    #CTA
  \*-----------------------------------*/
  
  .cta-card {
    background-color: var(--bg-misty-rose);
    padding: 60px 20px;
    text-align: center;
    border-radius: var(--radius-30);
  }

  .cta .section-title .img {
    display: inline-block;
  }

  .cta .section-title {
    margin-block: 0 20px;
  }

  .cta .btn {
    margin-inline: auto;
    margin-block-start: 20px;
  }

  
  
  
  
  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  
  .footer-top {
    display: grid;
    gap: 40px;
    padding-block: 60px;
  }

  .footer .logo img {
    width: 180px;
  }

  .footer-brand .footer-text {
    margin-block: 20px;
  }
  
  .social-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .social-link {
    color: var(--text-majorelle-blue);
    font-size: 2rem;
    padding: 10px;
    border-radius: var(--radius-pill);
    transition: var(--transition-1);
  }

  .social-link:is(:hover, :focus-visible) {
    background-color: var(--bg-majorelle-blue);
    color: var(--text-white);
  }

  .footer-list-title {
    color: var(--text-gunmetal);
    font-size: var(--fontSize-5);
    font-weight: var(--weight-semiBold);
    margin-block-end: 15px;
  }

  .footer-link {
    margin-block-start: 10px;
  }

  .footer-link:is(:hover, :focus-visible) {
    text-decoration: underline;
  }

  .footer-list .footer-text {
    margin-block-end: 15px;
  }

  .input-field {
    height: 55px;
    padding-inline: 25px 60px;
    border: 1px solid var(--border-gainsboro);
    color: var(--text-gunmetal);
    border-radius: var(--radius-pill);
  }

  .input-wrapper {
    position: relative;
  }

  .input-field:focus {
    border-color: var(--bg-majorelle-blue);
  }

  .input-btn {
    width: 45px;
    height: 45px;
    background-color: var(--bg-majorelle-blue);
    font-size: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius-circle);
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    transition: var(--transition-1);
    color: var(--text-white);
  }

  .input-btn:is(:hover, :focus-visible) {
    background-color: var(--bg-ocean-blue);
  }

  .footer-bottom {
    padding-block: 30px;
    border-block-start: 1px solid var(--border-gainsboro);
  }

  .copyright {
    margin-block-end: 20px;
  }

  .copyright-link {
    display: inline-block;
    color: var(--text-majorelle-blue);
    font-weight: var(--weight-medium);
  }

  .footer-bottom-link:is(:hover, :focus-visible) {
    text-decoration: underline;
  }


  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/

  @media (min-width: 575px) {
    
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }

    /* HEADER  */

    .navbar {
      padding-inline: 40px;
      padding-block-start: 40px;
    }


    /* HERO  */

    .hero-text {
      max-width: 42ch;
    }

    .hero-wrapper {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .hero .btn {
      margin-block-end: 0;
    }


    /* SERVICE  */

    .service .container {
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
    }


    /* DESTINATION  */

    .desti-list {
      grid-template-columns: 1fr 1fr;
    }


    /* FOOTER   */

    .footer-bottom-list {
      display: flex;
      gap: 30px;
    }

  }







    
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/

  @media (min-width: 768px)  {

    /* CUSTOM PROPERTY  */

    :root {

      /* TYPOGRAPHY  */


      /* FONT-SIZE  */

      --fontSize-1: 4.8rem;
      --fontSize-2: 4rem;
      --fontSize-3: 2.8rem;
      --fontSize-4: 2.6rem;
      --fontSize-5: 2.2rem;
      --fontSize-6: 1.8rem;
      --fontSize-7: 1.6rem;


         /* SPACING  */

      --section-spacing: 120px;
    }

    
    /* REUSED STYLE  */

    .container {
      max-width: 720px;
    }

    .btn {
      height: 60px;
      padding-inline: 40px;
    }

    :is(.desti, .gallery) :is(.section-subtitle, .section-title) {
      text-align: center;
    }


    /* PRELOADER  */

    .preloader .img {
      width: 80px;
    }


    /* HERO  */

    .hero {
      padding-block-start: 180px;
    }

    .hero-subtitle {
      --fontSize-7: 1.8rem;
      padding: 10px 30px;
    }

    .hero-btn {
      gap: 32px;
    }

    .hero-btn .btn-img {
      width: 80px;
      height: 80px;
    }

    .hero-btn ion-icon {
      padding: 12px;
    }

    .hero-banner {
      max-width: 550px;
      margin-inline: auto;
    }



      /* SERVICE  */

    .service .container {
      gap: 35px;
    }

    .service-card {
      padding: 40px 30px;
    }

    .service-card .card-title {
      margin-block: 20px 10px;
    }


    /* DESTINATION  */

    .desti .section-title {
      margin-block-end: 65px;
    }

    .desti-list {
      gap: 50px 35px;
    }

    .desti-card .card-title {
      margin-block-start: 25px;
    }

    .desti .btn {
      margin-block-start: 60px;
    }



    /* EXPERIENCE  */

    .exp .section-text {
      max-width: 600px;
    }

    .exp-list {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .exp-item {
      gap: 15px;
    }

    .exp-item .item-title {
      font-size: 4rem;
    }

    .exp-banner {
      max-width: 550px;
      margin-inline: auto;
    }



    /* GALLERY  */

    .gallery .section-title {
      margin-block-end: 65px;
    }

    .gallery-list {
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }

    .gallery-item:nth-child(n+3) {
      grid-column: 1 / 3;
    }



    /* C T A  */

    .cta-card {
      padding: 80px 60px;
    }

    .cta .btn {
      margin-block-start: 30px;
    }



    /* FOOTER   */

    .footer-top {
      grid-template-columns: 1fr 1fr;
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copyright {
      margin-block-end: 0;
    }
 
  }


  






    
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/

  @media (min-width: 992px) {

    /* REUSE STYLE  */

    .container {
      max-width: 950px;
    }



    /* HEADER  */

    .nav-toggle-btn, .navbar-top, .overlay {
      display: none;
    }

    .navbar, .navbar.active {
      all: unset;
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    .navbar-list {
      margin-block-start: 0;
      display: flex;
      gap: 30px;
      margin-inline: auto;
    }

    .navbar-link:is(:hover, :focus-visible, .active) {
      transform: unset;
    }

    .navbar-link::before {
      width: 10px;
      height: 3px;
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }

    .header-action {
      border: none;
      padding-block-start: 0;
      gap: 30px;
    }

    .header.active {
      padding-block: 15px;
    }





    /* HERO    */

    .hero .container {
      grid-template-columns: 0.8fr 1fr;
      gap: 0;
      align-items: center;
    }

    .hero-wrapper {
      flex-wrap: wrap;
    }

    .hero-banner {
      max-width: unset;
    }



    /* SERVICE  */

    .service .title-wrapper {
      padding-inline-end: 100px;
    }




    /* DESTINATION  */

    .desti-list {
      grid-template-columns: repeat(3, 1fr);
    }




    /* EXPERIENCE  */

    .exp .container {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      align-items: center;
      gap: 80px;
    }

    .exp-content {
      order: 1;
    }

    .exp-list {
      flex-wrap: wrap;
    }

    .exp-item {
      margin-block-start: 0;
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
    }




    /* GALLERY */

    .gallery-list {
      grid-template-columns: repeat(6, 1fr);
    }

    .gallery-item:nth-child(n+3) {
      grid-column: auto;
    }

    .gallery-item:nth-child(3) {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
    }

    .gallery-item:nth-child(n+4) {
      grid-column: span 2;
    }

    .gallery .item-banner {
      aspect-ratio: unset;
      width: 100%;
      height: 100%;
    }




    /* C T A  */

    .cta .section-title {
      max-width: 25ch;
      margin-inline: auto;
    }


  }

  

  






    
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/

  @media (min-width: 1200px) {

    /* CUSTOM PROPERTY  */

    :root {


      /* TYPOGRAPHY  */

      /* FONT-SIZE  */

      --fontSize-1: 6.4rem;
      --fontSize-2: 4.8rem;
      --fontSize-3: 3rem;
      /* --fontSize-4: 2.6rem;
      --fontSize-5: 2.2rem;
      --fontSize-6: 1.8rem;
      --fontSize-7: 1.6rem; */
    }




    /* REUSED STYLE  */

    .container {
      max-width: 1150px;
    }

    .header .logo img {
      width: 100px;
    }

    .navbar-list {
      gap: 50px;
    }

    .header-action {
      gap: 40px;
    }





    /* HERO    */

    .hero-title {
      margin-block: 30px;
    }

    .hero-title {
      margin-block-end: 50px;
    }




     /* SERVICE  */

     .service .container {
      grid-template-columns: repeat(3, 1fr);
     }

     .service .title-wrapper {
      grid-column: span 3;
     }





      /* DESINATION  */

      .desti-card .card-price {
        font-size: 2rem;
        padding: 8px 20px;
      }

      .desti-card .card-title {
        margin-block: 30px 10px;
      }

      .desti-card .card-rating {
        margin-block-start: 15px;
      }




      /* EXPERIENCE  */
      .exp .section-text {
        margin-block: 30px 40px;
      }

      .exp-list {
        gap: 50px;
      }





       /* C T A  */

       .cta-card {
        padding-block: 120px;
       }





        /* FOOTER   */

        .footer-top {
          grid-template-columns: 1fr 0.5fr 0.6fr 0.6fr 1fr;
          gap: 60px;
        }

        .footer-brand .footer-text {
          margin-block: 35px 30px;
        }

        .footer-list-title {
          margin-block-end: 25px;
        }

        .footer-bottom-list {
          gap: 40px;
        }

  }

  

  






    
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/

  @media (min-width: 1400px) {
     /* CUSTOM PROPERTY  */

     :root {

     /* TYPOGRAPHY  */
    
     /* FONT-SIZE  */
    
     --fontSize-1: 7.2rem;
    }





    /* REUSED STYLE  */
    
    .container {
      max-width: 1350px;
    }

    .navbar-list {
      gap: 70px;
    }

    .service .section-title {
      margin-block-end: 20px;
    }

    .service .title-wrapper {
      grid-column: auto;
      padding-inline-end: 0;
    }

    .service .container {
      grid-template-columns: 1fr repeat(3, 0.9fr);
      gap: 50px;
    }

    .service-card:nth-child(3) {
      margin-block-start: 80px;
    }



    /* DESTINATION  */

    .desti-list {
      gap: 50px;
    }




    /* FOOTER   */

    .footer-top {
      padding-block-end: 80px;
    }

  }
















